*.py[cod]
settings.py
venv

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
static/.DS_Store

.idea/workspace.xml

.DS_Store

.idea/.name

.idea/dataSources.ids

.idea/dataSources.xml

.idea/misc.xml

.idea/testrunner.xml

.idea/scopes/scope_settings.xml

.idea/modules.xml

.idea/todo_site.iml

.idea/other.xml

.idea/encodings.xml

.idea/vcs.xml
